Repository anyscale/terraform-google-anyscale-cloudfoundation-modules, pull requests merged in 2024-09, with the labels that each got.

#27 modules/iam: change *_iam_binding to *_iam_members
  modules/google-anyscale-iam/main.tf
Labels: enhancement, terraform, terraform-module-iam

#28 iam: add `storage.objects.list` to control plane role
  modules/google-anyscale-iam/README.md
  modules/google-anyscale-iam/roles.tf
Labels: bug, terraform

#29 fix: VPC Firewall for Proxy-Only Subnet
  .pre-commit-config.yaml
  README.md
  examples/anyscale-v2-privatenetwork/README.md
  examples/anyscale-v2-privatenetwork/main.tf
  main.tf
  modules/google-anyscale-gke/README.md
  modules/google-anyscale-gke/data.tf
  modules/google-anyscale-gke/examples/README.md
  modules/google-anyscale-gke/examples/main.tf
  modules/google-anyscale-gke/examples/outputs.tf
  modules/google-anyscale-gke/examples/variables.tf
  modules/google-anyscale-gke/examples/versions.tf
  modules/google-anyscale-gke/main.tf
  modules/google-anyscale-gke/outputs.tf
  modules/google-anyscale-gke/variables.tf
  modules/google-anyscale-gke/versions.tf
  modules/google-anyscale-iam/README.md
  modules/google-anyscale-iam/examples/README.md
  modules/google-anyscale-iam/examples/main.tf
  modules/google-anyscale-iam/examples/variables.tf
  modules/google-anyscale-iam/gke-sa.tf
  modules/google-anyscale-iam/main.tf
  modules/google-anyscale-iam/variables.tf
  modules/google-anyscale-vpc/README.md
  modules/google-anyscale-vpc/outputs.tf
  modules/google-anyscale-vpc/private-subnet.tf
  modules/google-anyscale-vpc/variables.tf
Labels: bug, documentation, examples, terraform

#32 fix: Firewall Ingress - GCP Health check
  modules/google-anyscale-vpc-firewall/README.md
  modules/google-anyscale-vpc-firewall/examples/main.tf
  modules/google-anyscale-vpc-firewall/main.tf
  modules/google-anyscale-vpc-firewall/variables.tf
Labels: bug, terraform, terraform-module-vpc-firewall

#33 add: Optional VPC Firewall ingress rule for Anyscale Machine Pools
  README.md
  examples/anyscale-v2-kitchensink/README.md
  examples/anyscale-v2-kitchensink/main.tf
  main.tf
  modules/google-anyscale-vpc-firewall/README.md
  modules/google-anyscale-vpc-firewall/examples/main.tf
  modules/google-anyscale-vpc-firewall/main.tf
  modules/google-anyscale-vpc-firewall/variables.tf
  test/test_cloud_register_manual.py
  variables.tf
Labels: documentation, enhancement, examples, terraform, unittests, terraform-module-vpc-firewall
